
.cart-header{
    display: flex;
  
}
.close{
    margin-left: 300px;
    cursor: pointer;
    
}
.cart-total{
    display: flex;
    margin-top: 20px;
}
.total{
    margin-left: 300px;
}
.cart-sub{
   
    display: inline;
    width: 100px;
}
.modal{
   position: fixed;
    width: 100%;
    height: 100vh;
background-color: rgba(0, 0, 0, 0.5);
z-index: 10000000;


  
}
@keyframes slidecart {
    0%{
        transform: translateX(150px);

    } 
    100%{
        transform: translateX(0px);

    } 

}

@keyframes slidecartclose {
    0%{
        transform: translateX(0);

    } 
    100%{
        transform: translateX(500px);

    } 

}
.slideclose{
    animation: 0.3s ease-in-out slidecartclose;
}
.cart-container {
position: fixed;
height: 100vh;
width: 500px;
right: 0;
top: 0;
background-color: #fff;
animation: 0.5s ease-in-out slidecart;
padding: 12px 20px;


  }
  .cart-list{
    margin-bottom: 5.2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
    overflow-y: scroll;
  }
  .des-cart{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .cart-list::-webkit-scrollbar
  {
    width: 5px;
    height: 8px;
    background-color: #aaa;
  }
  .cart-list .cart-item {
    width: 100%;
}
.img-item{
    display: block;
    position: relative;
    width: 100%;
    height: 0;
 
 
}
.img-item{
    height: 100px;
    width: 100px;
}
.cart-img{
    width: 7rem;
    min-width: 5rem;
    margin-right: 1rem;
    margin-top: 10px;
}

.title-cart{
    margin-bottom: 10px;
}
.cart-list .cart-item {
    width: 100%;
    display: flex;
   
}
.cart-info{
    margin-left: 50px;
}
.cart-item{
    align-items: center;
}
.btn-cart button{
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    background-color: #47474c;
    color: #fff;
    cursor: pointer;
}
 .btn-cart button:hover{
    opacity: 0.5;
}